<ng-container *ngIf="{forecastData: forcastData$ | async} as data">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">5-day forecast for {{data.forecastData?.city?.name}}</h3>

      </div>
      <ul *ngIf="data.forecastData?.cod === '200'" class="list-group">
        <li *ngFor="let item of data.forecastData?.list" class="list-group-item">
          {{item?.dt * 1000 | date:'EEEE, LLL d'}}:
          {{item?.weather[0]?.main}}
          - Min: {{item?.temp?.min | number:'1.0-0' }}
          - Max: {{item?.temp?.max | number:'1.0-0' }}

          <img class="icon" [src]="item?.weather[0]?.main | weatherIconUrl">
        </li>
      </ul>
    </div>
    <button class="btn btn-success" tabindex="0" id="mainPageBtn" [routerLink]="['/']">&lt; Back to main page</button>
  </div>
</ng-container>