<div class="container-fluid">
    <div class="well">
      <h2>Enter a city:</h2>
      <input 
        #cityInput 
        class="form-control" 
        placeholder="City" 
        type="text" 
        [formControl]="cityControl"
        [typeahead]="typeAheadSuggestions$"
        [typeaheadAsync]="true"
        typeaheadOptionField="obj.name"
        (typeaheadOnSelect)="addLocation($event)"
      >
      <br>
      <button (click)="addLocation()" [disabled]="!cityControl.valid" class="btn btn-primary">
        Add location
      </button>
      <span>{{zipCodeGetError$ | async}}</span>
    </div>
    <app-weather-report *ngFor="let report of weatherReports$ | async as list; trackBy: reportZipCode"
      [zipCode]="report.zipCode"
      [locationName]="report.name"
      [condition]="report.weather[0]?.main"
      [currentTemp]="report.main?.temp"
      [maxTemp]="report.main?.temp_max"
      [minTemp]="report.main?.temp_min"
      (deleteEvent)="deleteCity($event)"
    ></app-weather-report>
</div>